@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300,0,400;0,500;0,700;1,600&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,
div > span {
  font-weight: 300;
  color: #484848;
  font-size: 15px;
}
i.icon {
  font-family: Icons !important;
}
header {
  background-color: #ffffff;
  position: fixed !important;
  z-index: 1000;
  left: 0px;
  right: 0px;
  top: 0 !important;
}
#header {
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand {
  cursor: pointer;
  margin-top: 1rem;
  margin-left: -2rem;
}
.brand-2 {
  cursor: pointer;
  margin-top: 1rem;
}
.brand span,
.brand-2 span {
  font-size: 1.7rem;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style-type: none;
  text-align: center;
  justify-content: end;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 100px;
}
.nav-link {
  color: #0b1332;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: #0b1332;
}
.buttons-2 {
  margin-left: 15rem !important;
}
.menu-icon {
  display: none !important;
}

main {
  padding-top: 98px;
  min-height: 100vh !important;
}
.btn {
  font-size: 1rem !important;
  font-weight: 400 !important;
  border: none !important;
  box-shadow: none !important;
}
.primary-btn {
  font-weight: 500 !important;
  background-color: #3861fb !important;
  color: #ffffff !important;
}
#section-1 {
  padding: 150px 0;
  min-height: calc(100vh - 85.38px);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
#section-2 {
  padding: 50px 0;
  background-color: #f9fbfd;
}
#section-3 {
  padding: 100px 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: calc(100vh - 85.38px);
}
#section-4 {
  padding: 0 !important;
  background-color: #faf5f1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: calc(100vh - 85.38px);
  flex-wrap: wrap;
}
.realtor {
  margin-top: -7rem;
}
.bedroom {
  width: 118px;
  height: 61px;
}
hr {
  background-color: "#cccccc";
}
.property_card {
  width: 100%;
  min-height: 30rem;
  background-color: #3861fb;
  display: flex;
  margin-top: 150px;
}
.property_card_2 {
  width: 100%;
  min-height: 30rem;
  background-color: #3861fb;
  margin-top: 150px;
}
.register {
  background-color: #e5e5e5;
  width: 100%;
  min-height: 100vh !important;
  margin-top: 7rem;
}
.reg_form {
  background-color: #ffffff;
  width: 50%;
  min-height: 32rem;
  margin: 50px auto;
}
.register_form {
  background-color: #e5e5e5 !important;
  min-height: 30rem;
}
.field {
  width: 60%;
  margin: 10px auto 5px auto !important;
}
.ui.form input::placeholder {
  color: #2f2f2f;
}
.ui.form input {
  background-color: #f0f2f5 !important;
}
.form-btn-cover {
  margin: 5px auto 10px auto !important;
}
.form-btn {
  width: 60%;
  background-color: #3861fb !important;
  color: #ffffff !important;
}
.details {
  background-color: #ffffff !important;
}
.details-form {
  margin: 5px 0;
}
.history_card {
  width: 100%;
  min-height: 25rem;
  background-color: #f8fafd;
  border: 1px solid #e7e7e7;
  position: relative;
}
.history_circle {
  width: 35%;
  height: 7rem;
  border-radius: 50%;
  background-color: #faf5f1;
  position: absolute;
  top: 8%;
  left: 33%;
  right: 32%;
}
.login-texts {
  width: 60%;
  margin: 2rem auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.pass {
  text-decoration: none;
  color: #2f2f2f;
}
.dash-btn {
  padding-right: 2rem;
  padding-top: 2rem;
  background-color: #3861fb !important;
}
.details-btn {
  width: 63%;
  background-color: #3861fb !important;
  color: #ffffff !important;
}
.first-btn {
  background-color: #3861fb !important;
  color: #ffffff !important;
}
.second-btn {
  background-color: #ffffff !important;
}
.history-btn {
  background-color: #3861fb !important;
  color: #ffffff !important;
}
.continue-btn {
  background-color: #3861fb !important;
  color: #ffffff !important;
}
.ui.button.active {
  background: white !important;
}
.portfolio-container {
  width: 86%;
  min-height: 10rem;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #faf5f1;
  border: 1px solid #faf5f1;
  border-radius: 8px;
  padding: 0 2rem !important;
}

@media screen and (max-width: 768px) {
  #header {
    position: relative;
  }
  main {
    padding-top: 10px !important;
    min-height: 100vh !important;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    min-width: 100vw !important;
    min-height: 80vh;
    position: absolute;
    top: 70px !important;
    left: -100%;
    opacity: 1;
    transition: all 1s ease;
  }
  .nav-menu.active {
    background: #ffffff;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    opacity: 1;
    transition: all 1s ease;
    z-index: 1;
  }

  .nav-link {
    min-width: 100% !important;
    text-align: center;
    padding: 1rem;
    text-align: center;
    padding: 0 !important;
    display: table !important;
  }

  .menu-icon {
    display: inline-block !important;
    cursor: pointer;
  }
  .buttons-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0 !important;
    margin-bottom: 2.5rem !important;
  }
  .primary-btn {
    background-color: #3861fb !important;
    color: #ffffff !important;
    min-width: 70% !important;
    height: 2rem !important;
    margin-top: 2rem !important;
  }
  .btn {
    font-size: 1rem !important;
    text-align: center;
    padding: 1rem;
    min-width: 100% !important;
    display: table !important;
  }
  .btn-1-mobile {
    min-width: 100%;
    display: table;
    text-align: center !important;
  }
  .btn-2-mobile {
    min-width: 100% !important;
    display: table;
    text-align: center !important;
  }

  .realtor {
    margin-left: -0.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .property_card div {
    width: 100%;
  }
  .register {
    background-color: #e5e5e5;
    width: 100%;
    min-height: 100vh !important;
  }
  .reg_form {
    background-color: #ffffff;
    width: 90%;
    min-height: 32rem;
    margin: 50px auto;
  }
  .field {
    width: 90%;
    margin: 10px 1rem 5px 1rem !important;
  }
  .form-btn-cover {
    margin: 10px 1rem 5px 1rem !important;
  }
  .form-btn {
    width: 95%;
    background-color: #3861fb !important;
    color: #ffffff !important;
    text-align: center;
  }
  .login-texts {
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  .checkbox {
    margin-left: -0.1rem;
  }
  .dash-btn {
    padding-left: 2rem;
    padding-top: 2rem;
  }
  .sell-buy {
    margin-left: -2rem;
  }
  .mobile-details-btn {
    width: 94%;
    background-color: #3861fb !important;
    color: #ffffff !important;
  }
  .continue-btn {
    margin-left: -3rem !important;
  }
  .history_card {
    width: 80%;
    margin: 0 auto;
    padding: 0 auto;
  }
  .how_header {
    text-align: left !important;
  }
  .newsletter {
    width: 70%;
  }
  .brand {
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 0;
  }
  .brand span {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
  }
  .tpv {
    padding-left: 2rem !important;
  }
  .stock {
    padding-right: 2rem !important;
  }
}
